.container {
  padding: 8rem 0 0 0;
  height: auto;
}
.footer {
  margin-left: 3rem;
  opacity: 0.5;
  font-style: italic;
}
.fas {
  color: #fb4747;
  font-size: 1.4rem;
  animation: heartBeat 2s infinite;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
