<div class="marg">
  <p class="title">skills.ts</p>
  <div class="margin-vertical">
    <p
      ><span class="magenta">export default </span
      ><span class="methods">class </span>
      <span class="type">Skills</span> &#123;</p
    >
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="methods">constructor</span>(private coffee: CoffeService)
        &#123;&#125;</p
      >
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">main_language</span>():
        <span class="type">String</span> &#123;</p
      >
      <p class="margin-horizontal-4"
        ><span class="magenta">return </span>
        <span class="string">'JavaScript'</span> ||
        <span class="string">'Typescript';</span></p
      >
      <p class="margin-horizontal-2">&#125;</p>
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">known_languages</span>():
        <span class="type">Array </span>&#60;String&#62; &#123;</p
      >
      <p class="margin-horizontal-4"
        ><span class="magenta">return</span> [
        <span class="string"
          >'JavaScript', 'Typescript', 'HTML', 'CSS', 'Node.js', 'C', 'Java'
        </span>
        ];</p
      >
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">framework</span>():
        <span class="type">Object</span> &#123;</p
      >
      <p class="margin-horizontal-4"
        ><span class="magenta">return</span> &#123;</p
      >
      <p class="margin-horizontal-6"
        >Angular8: [
        <span class="string"
          >'Components', 'Data Binding', 'Hooks', 'Directives', 'Services',
          'Routing', 'Subjects', 'NgRx', 'Animations'</span
        >
        ]</p
      >
      <p class="margin-horizontal-4">&#125;;</p>
      <p class="margin-horizontal-2">&#125;</p>
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">preprocessor</span>():
        <span class="type">String </span>&#123;</p
      >
      <p class="margin-horizontal-4"
        ><span class="magenta">return</span>
        <span class="string">'Sass';</span></p
      >
      <p class="margin-horizontal-2">&#125;</p>
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">tools</span>():
        <span class="type">Array</span>&#60;String&#62; &#123;
      </p>
      <p class="margin-horizontal-4"
        ><span class="magenta">return</span> [
        <span class="string"
          >'npm', 'git', 'Bootstrap', 'Material Design', 'VS Code',
          'Figma'</span
        >
        ];</p
      >
      <p class="margin-horizontal-2">&#125;</p>
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">databases</span>():
        <span class="type">Array</span>&#60;String&#62; &#123;</p
      >
      <p class="margin-horizontal-4"
        ><span class="magenta">return</span> [
        <span class="string">'Firebase', 'Mysql' </span>];</p
      >
      <p class="margin-horizontal-2">&#125;</p>
    </div>
    <div class="margin-top-2">
      <p class="margin-horizontal-2"
        ><span class="prop1">futurePlans</span>():
        <span class="type">Array</span>&#60;String&#62; &#123;</p
      >
      <p class="margin-horizontal-4"
        ><span class="magenta">return</span> [
        <span class="string">'Ionic', 'PHP', 'Mysql' </span>];</p
      >
      <p class="margin-horizontal-2">&#125;</p>
      <p>&#125;</p>
    </div>
  </div>
</div>
