<div class="container margin-left-right" id="projects">
  <p>projects works!</p>
  <p
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laboriosam
    suscipit ullam doloribus ex repudiandae beatae libero tempora architecto,
    repellendus quis corporis quod excepturi debitis quaerat illum consequatur
    officiis vitae nostrum necessitatibus autem delectus. Consectetur nam
    repellendus ex vel iure odio tempore ut hic facilis distinctio, delectus
    iste quidem illum possimus! Laboriosam maxime minima neque at aut voluptatem
    cupiditate, beatae obcaecati, nostrum libero odit error sunt voluptate
    voluptatum? Impedit, voluptates! Ut perspiciatis voluptates, sint
    consequuntur sequi a, blanditiis ad, tenetur exercitationem quasi nesciunt
    beatae itaque cum et alias repellat assumenda. Iste molestias quasi, illo
    vel facilis quis laboriosam inventore incidunt?</p
  >
</div>
