<h4
  class="component-title typed-element-projects"
  inViewport
  inViewportOptions="{ threshold: [0] }"
  (inViewportAction)="inViewportTitle($event)"
  id="projects"
></h4>
<div class="container margin-left-right">
  <div class="project">
    <div class="images">
      <img
        src="../../assets/img/laptop-fata-morgana.png"
        class="laptop"
        alt=""
      />
      <img
        src="../../assets/img/mobile-fata-morgana.png"
        class="mobile"
        alt=""
      />
      <div class="buttons">
        <a href="https://github.com/giorgoslytos/fata-morgana" target="_blank"
          ><button type="submit" class="submit">code</button></a
        >
        <a
          href="http://fata-morgana.s3-website.eu-central-1.amazonaws.com/"
          target="_blank"
          ><button type="submit" class="submit">demo</button></a
        >
      </div>
    </div>
    <div
      class="paragraph margin-horizontal-left"
      [@flyInOut]="statePar1 ? 'show' : 'hide'"
      inViewport
      inViewportOptions="{ threshold: [0] }"
      (inViewportAction)="inViewportPar1($event)"
    >
      <p><span class="yellow">.fataMorgana</span> &#123;</p>
      <p class="margin-horizontal-2 grey"
        >// A restaurant app made using Angular and</p
      >
      <p class="margin-horizontal-2 grey">// Firebase for storing the data</p>
      <p class="margin-horizontal-2 grey">// Designed and Coded by me</p>
      <p class="margin-horizontal-2"
        ><span class="yellow">&:checked </span>&#123;</p
      >
      <p class="margin-horizontal-4">
        <span class="red">responsive</span>: <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">::ng-deep</span>: <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">reactive-forms</span>:
        <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">angular-validators</span>:
        <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">custom-validator</span>:
        <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">firebase</span>: <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">child-parent-communication</span>:
        <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">use-of-3rd-party-packages</span>:
        <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">use-of-3rd-party-directives</span>:
        <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-4"
        ><span class="red">sass</span>: <span class="blue">true;</span></p
      >
      <p class="margin-horizontal-2">&#125;</p>
      <p>&#125;</p>
    </div>
  </div>
  <div class="project">
    <div class="images">
      <img
        src="../../assets/img/laptop-hsl-selector.png"
        class="laptop"
        alt=""
      />
      <div class="buttons">
        <a
          href="https://github.com/giorgoslytos/hslcolorselector"
          target="_blank"
        >
          <button type="submit" class="submit">code</button></a
        >
        <a
          href="https://giorgoslytos.github.io/hslcolorselector/"
          target="_blank"
        >
          <button type="submit" class="submit">demo</button></a
        >
      </div>
    </div>
    <div
      class="paragraph margin-horizontal-left"
      [@flyInOut]="statePar2 ? 'show' : 'hide'"
      inViewport
      inViewportOptions="{ threshold: [0] }"
      (inViewportAction)="inViewportPar2($event)"
    >
      <p><span class="yellow">.HSLColorSelector</span> &#123;</p>
      <p class="margin-horizontal-2 grey"
        >// An OOP Vanilla JavaScript webpage</p
      >
      <p class="margin-horizontal-2 grey">// Requires a mouse with a wheel</p>
      <p class="margin-horizontal-2 grey">// to be fully functional</p>
      <p class="margin-horizontal-2 yellow">&:checked &#123;</p>
      <p class="margin-horizontal-4"
        ><span class="red">VanillaJavaScript</span>:
        <span class="blue">true</span>;</p
      >
      <p class="margin-horizontal-4"
        ><span class="red">HTMLCanvas</span>: <span class="blue">true</span>;</p
      >
      <p class="margin-horizontal-4"
        ><span class="red">JSObjects</span>: <span class="blue">true</span>;</p
      >
      <p class="margin-horizontal-2">&#125;</p>
      <p>&#125;</p>
    </div>
  </div>
</div>
