.container {
  padding-bottom: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.text-email {
  display: flex;
  flex-direction: row;
  margin: 0.4rem;
  width: 100%;

  .containerControl:first-child {
    margin-right: 0.8rem;
  }

  .containerControl {
    margin: 0;
  }
}

.containerControl {
  position: relative;
  margin: 0.4rem;
  padding: 0;
  width: 100%;
  label {
    position: absolute;
    bottom: 0;
    left: 0.1rem;
    background-color: #d8315b;
    height: 3px;
    transition: all 0.3s linear;
  }
}

.name,
.email {
  color: #333;
  background-color: #ccc;
  font-size: 1.2rem;
  font-family: 'Fira Code';
  padding: 0.8rem;
  border-width: 0;
  width: 100%;
  outline: none;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.textarea,
.subject {
  color: #333;
  background-color: #ccc;
  font-size: 1.2rem;
  font-family: 'Fira Code';
  padding: 0.8rem;
  border-width: 0;
  width: 100%;
  outline: none;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.containerControl-textarea {
  position: relative;
  margin: 0.4rem;
  padding: 0;
  width: 100%;
  label {
    position: absolute;
    bottom: 4px;
    left: 0.1rem;
    background-color: #d8315b;
    height: 3px;
    transition: all 0.3s linear;
  }
}
.textarea {
  resize: none;
}

.submit {
  color: #cdb292;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: 'Fira Code';
  padding: 0.6rem 1.2rem;
  border-width: 1px;
  border-color: #cdb292;
  outline: none;
  margin: 0.4rem;
  display: inline-flex;
  align-self: flex-end;
  width: fit-content;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover,
  &:active {
    background-color: #cdb292;
    color: #333;
  }

  &:active {
    transform: translateY(1px);
  }
  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ccc inset !important;
  box-shadow: 0 0 0 30px #ccc inset !important;
  -webkit-text-fill-color: #333 !important;
}

.successOrFailure {
  margin: 0 2rem;
}
@media screen and (max-width: 800px) {
  .text-email {
    flex-direction: column;
  }
  .email {
    margin-top: 0.8rem;
  }
}
