<h4
  class="component-title typed-element-contact"
  id="contact"
  inViewport
  inViewportOptions="{ threshold: [0] }"
  (inViewportAction)="inViewportTitle($event)"
></h4>
<div class="container margin-left-right">
  <div class="margin-vertical">
    <p class="code1">p </p
    ><p class="margin-horizontal-2"
      >In case you want to contact me you can use the following form</p
    >
    <p class="code2">p</p>
  </div>
  <p class="code1">div</p>
  <form
    [formGroup]="mailForm"
    action=""
    method="POST"
    class="form-container margin-horizontal-16"
    (ngSubmit)="onSubmit()"
    *ngIf="!emailSendSuccessfully"
  >
    <div class="text-email">
      <div class="containerControl">
        <input
          type="text"
          name="name"
          id=""
          class="name"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="containerControl">
        <input
          type="email"
          name="email"
          id=""
          class="email"
          placeholder="Email"
          formControlName="email"
        />
        <label for="name" *ngIf="email.invalid && email.touched"></label>
        <label
          for="name"
          [ngStyle]="{
            width: email.invalid && email.touched ? 'calc(100% - .2rem)' : '0%'
          }"
        ></label>
      </div>
    </div>
    <div class="containerControl">
      <input
        type="text"
        name="subject"
        id=""
        class="subject"
        placeholder="Subject"
        formControlName="subject"
      />
    </div>
    <div class="containerControl-textarea">
      <textarea
        name="textarea"
        id=""
        cols="30"
        rows="10"
        class="textarea"
        placeholder="Message"
        formControlName="message"
      ></textarea>
      <label
        for="textarea"
        [ngStyle]="{
          width:
            message.invalid && message.touched ? 'calc(100% - .2rem)' : '0%'
        }"
      ></label>
    </div>
    <button [disabled]="mailForm.invalid" type="submit" class="submit"
      >SEND</button
    >
  </form>
  <div *ngIf="emailSendSuccessfully" class="success">
    <p class="successOrFailure"
      >Your email has been send successfully! Keep in touch!</p
    >
  </div>
  <div *ngIf="emailFailed" class="success">
    <p class="successOrFailure"
      >There was an error when attempted to send your email. Please try again
      later!</p
    >
  </div>
  <p class="code2">div</p>
</div>
